<table style="width:100%" border="1">
  <tr>
    <td>User</td>
    <td><%= @user.inspect %></td>
  </tr>
  <tr>
    <td>Frineds</td>
    <td><%= @friends.inspect %></td>
  </tr>
  <tr>
    <td>groups</td>
    <td><%= @groups.inspect %></td>
  </tr>
  <tr>
    <td>photos</td>
    <td>
        <table>
          <% @photos.each do |photo| %>
            <td><%= image_tag photo.src_small %></td>
            <td><%= image_tag photo.src %></td>
            <td><%= image_tag photo.src_big %></td>
            <td><%= image_tag photo.src_xbig %></td>
          <% end %>
        </table>
    </td>
  </tr>
</table>
