<% @header = 'Charts' %>

<div id="canvasd" width="800" height="400"></div>

<%= form_tag({ controller: :admin, action: :load_chart }, { remote: true }) do %>
    <%= text_field_tag :start, @start, { 'data-provide' => 'datepicker'} %>
    <%= text_field_tag :end, @end, { 'data-provide' => 'datepicker'} %>
    <%= submit_tag 'load' %>
<% end %>
