<% @header = 'Альбомы' %>

<pre>Download: <%= @download_t %></pre>
<% @render_t = Benchmark.realtime do %>
<div class="bs-callout bs-callout-danger">
    <h4>Выберете свое фото</h4>
    <p>Твоя лучшая фотка, чтобы покорить конкурс! Желательно крупным планом, групповые фотографии не подходят.</p>
</div>

<div class="row">
  <% strips = 3 %>
  <% strips.times do |s| %>
      <div class="col-xs-<%= 12 / strips %>">
        <% pic = s %>
        <% while (album = @albums[pic]).present? %>
            <%= link_to options={ action: :album, album_id: album.aid, album_title: album.title } do %>
                <div class="album">
                  <%= image_tag Person.image_from_hash(album, 500, fix: true), html_options={class: 'img-responsive rounded widen'} %>
                  <label class="album-label"><%= album.title.capitalize.truncate 80 %></label>
                </div>
            <% end %>
            <br>
            <% pic += strips %>
        <% end %>
      </div>
  <% end %>
</div>

<h3 class="page-header">Фотки профиля</h3>
<div class="row">
  <% strips = 3 %>
  <% strips.times do |s| %>
      <div class="col-xs-<%= 12 / strips %>">
        <% pic = s %>
        <% while (photo = @photos[pic]).present? %>
            <%= link_to options={ action: :show, album_title: 'Из профиля ВК', photo_id: photo.pid } do %>
                <%= image_tag Person.image_from_hash(photo, 500, fix: true), html_options={class: 'img-responsive rounded widen'} %>
            <% end %>
            <br>
            <% pic += strips %>
        <% end %>
      </div>
  <% end %>
</div>

<pre><%= @albums.inspect %></pre></br>
<pre><%= @photos.inspect %></pre></br>

<% end %>

<pre>Render <%= @render_t %></pre>

