<% @header = t 'vk_image.header' %>

<ol class="breadcrumb">
  <li><%= link_to 'Все фото', action: :albums %></li>
  <li><%= link_to @album_title, action: :album, album_id: @album_id %></li>
  <li class="active"><%= @photo.text.present? ? @photo.text : '...' %></li>
</ol>

<%= link_to options={ action: :select, photo_id: @photo.pid }, html_options={ class: 'thumbnail'} do %>
  <%= image_tag @photo.sizes.find {|s| s.type == 'x'}.src %>
<% end %>

<p><%= link_to 'выбрать', { action: :select, photo_id: @photo.pid }, html_options={ class: 'btn btn-primary'} %></p>

<nav>
  <ul class="pager">
    <li class="previous">
      <%= link_to action: :album, album_id: @album_id, album_title: @album_title do %>
        <span aria-hidden="true">&larr;</span> Назад
      <% end %>
    </li>
  </ul>
</nav>

<pre>
  <%= @photo.inspect %>
</pre>
