<div class="jumbotron">
  <h1>Здрасте!</h1>
  <p>Это конкурс красоты, каждый голосует, все могут участвовать</p>
  <p><%= link_to 'Войдите с ВК', @vk_url, html_options={ class: 'btn btn-primary btn-lg' } %></p>
</div>
