<% @header = "##{@rounds} #{['Кто красивее?', 'Кто горячее?'].sample}" %>

<div class="row">
  <div class="col-xs-6">
      <%= link_to options={action: :round_results, choice: :left} do %>
        <%= image_tag @pair.first.image, class: 'rounded pull-right img-responsive' %>
      <% end %>
  </div>
  <div class="col-xs-6">
      <%= link_to options={action: :round_results, choice: :right} do %>
        <%= image_tag @pair.last.image, class: 'rounded pull-left img-responsive' %>
      <% end %>
  </div>
</div>
