<% @header = 'Результаты <small>обновляетются каждую пятницу</small>' %>

<% @people.each_with_index do |person, i| %>
    <div class="row">
        <div class="image">
          <%= image_tag person.image, class: 'img-responsive rounded widen' %>
          <h1 class="number"><%= i + 1 %></h1>
        </div>
    </div>
    <br>
<% end %>
