<% @header = 'Beauty-Contest' %>

<div class="row-fluid">
  <div class="col-xs-7">
    <div class="jumbotron">
      <% unless person.rounds == 0 %>
        <h1>#<%= person.rounds %></h1>
        <p>Голосуй ЕЩЁ</p>
      <% else %>
        <p>Начнём выбирать?</p>
      <% end %>
      <p><%= link_to 'Поехали!', vote_path, html_options={ type: 'button', class: 'btn btn-primary btn-lg' } %></p>
    </div>
  </div>
  <div class="col-xs-5">

    <% if person.in? %>
        <%= image_tag person.image, class: 'img-responsive rounded' %>
    <br>

    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <%= link_to 'Выбрать другое', { controller: :vk_image, action: :albums }, { type: 'button', class: 'btn btn-info slow-button' } %>
        </div>
        <div class="btn-group btn-info" role="group">
          <%= link_to 'Удалить', { controller: :vk_image, action: :unselect }, { type: 'button', class: 'btn btn-default' } %>
        </div>
    </div>

    <% else %>
        <div class="jumbotron">
          <h1>Выбери своё фото</h1>
          <p>Чтобы учсаствовать в конкурсе и получать лайки</p>
          <p><%= link_to 'Выбираем!', options={ controller: :vk_image, action: :albums }, html_options={ type: 'button', class: 'btn btn-primary btn-lg' } %></p>
        </div>
    <% end %>

  </div>
</div>
