// Place all the styles related to the contest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.number {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
}

.image {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}